---
layout: default
---

<article class="post">

  {%- if page.image -%}
  <div class="post-hero container" aria-hidden="true">
    <img src="{{ page.image | relative_url }}" alt="">
  </div>
  {%- endif -%}

  <header class="post-header container">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-meta">
      {%- if site.author_avatar -%}
        <img class="avatar" src="{{ site.author_avatar | relative_url }}" alt="{{ site.author | default: site.author_name }}">
      {%- endif -%}
      <span>{{ site.author_name | default: site.author | default: site.title }}</span>
      <span class="dot" aria-hidden="true"></span>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%d %b %Y" }}
      </time>
      <span class="dot" aria-hidden="true"></span>
      {%- assign words = content | strip_html | replace:'  ',' ' | replace:'\n',' ' | split:' ' | size -%}
      {%- assign minutes = words | divided_by:200 -%}
      <span>
        {%- if minutes < 1 -%}1 min read{%- else -%}{{ minutes }} min read{%- endif -%}
      </span>
      {%- if page.tags and page.tags != empty -%}
        <span class="dot" aria-hidden="true"></span>
        <span>
          {% for t in page.tags %}
            #{{ t }}{% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </span>
      {%- endif -%}
    </div>
  </header>

  <section class="post-content main">
    {{ content }}
  </section>

  <section class="share">
    <a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url | url_encode }}&text={{ page.title | uri_escape }}" rel="noopener" target="_blank">Tweet</a>
    <a href="https://news.ycombinator.com/submitlink?u={{ site.url | append: page.url | url_encode }}&t={{ page.title | uri_escape }}" rel="noopener" target="_blank">HN</a>
    <a href="{{ "/feed.xml" | relative_url }}">Subscribe (RSS)</a>
  </section>

</article>
